@charset "utf-8";

#sec0201 {
    height: auto;
    position: relative;
    font-family: 'Klee One', cursive;


    .sec02bg {
        margin-top: -600px;
        position: absolute;
        top: 1400px;

        img {
            width: 100%;
        }
    }


    #sec0202 {
        background-color: #ffffff;
        position: relative;
        font-family: 'Klee One', cursive;

        .sec02HeadText {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem;

            @media (max-width:800px) {
                padding: 5rem 3rem;
            }

            @media (max-width:500px) {
                padding: 10rem 3rem;
            }

            h2 {
                color: #000;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;

                @media (max-width :800px) {
                    font-size: 1.5rem;

                }

                @media (max-width:500px) {
                    font-size: 1.2rem;
                }
            }

            .sec02Line01 {
                margin-bottom: 1rem;

                img {
                    vertical-align: top;
                    width: 440px;

                    @media (max-width :800px) {
                        width: 17rem;

                    }

                    @media (max-width:500px) {
                        width: 14rem;
                    }
                }
            }

            h3 {
                color: #000;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 2rem;

                @media (max-width :800px) {
                    font-size: 1.2rem;

                }

                @media (max-width:500px) {
                    font-size: 1rem;
                }
            }

            p {
                max-width: 600px;
                line-height: 1.5rem;
                text-align: start;
            }
        }

        .sec02FukidaItem {
            animation-name: fadeUp;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

        @keyframes fadeUp {
            0% {
                opacity: 0;
                transform: translateY(50px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .sec02Fukida01 {
            display: grid;
            grid-template-columns: 60% 20% 20%;
            grid-template-rows: 60% 22% 18%;
            width: 250px;
            height: 250px;
            position: absolute;
            top: 10px;
            left: 5%;
            z-index: 2;

            @media (max-width:1200px) {
                top: -110px;
                left: 0;
            }

            @media (max-width:1000px) {
                top: 450px;
                left: 0;
            }

            @media (max-width:800px) {
                top: 560px;
                left: 0;
            }

            @media (max-width:500px) {
                top: 720px;
                left: 0;
            }

            @media (max-width:400px) {
                top: 800px;
                left: 0;
            }

            .sec02Fukida0101 {
                grid-column: 1/4;
                grid-row: 1/2;
                width: 200px;
                animation-delay: 1.2s;

                img {
                    width: 100%;
                }
            }

            .sec02Fukida0103 {
                grid-column: 2/3;
                grid-row: 2/4;
                width: 70px;
                animation-delay: 0.7s;

                img {
                    width: 100%;
                }
            }

            .sec02Fukida0102 {
                grid-column: 3/4;
                grid-row: 3/4;
                width: 50px;
                animation-delay: 0.2s;

                img {
                    width: 100%;
                }
            }
        }

        .sec02Fukida02 {
            display: grid;
            grid-template-columns: 12% 12% 76%;
            grid-template-rows: 55% 20% 25%;
            width: 20vw;
            height: 250px;
            position: absolute;
            top: 90px;
            right: 5%;

            @media (max-width:1100px) {
                top: 150px;
                right: 5%;
            }

            @media (max-width:1000px) {
                top: -200px;
                right: 15%;
            }

            @media (max-width:800px) {
                top: -150px;
                right: 20%;
            }

            @media (max-width:500px) {
                top: -100px;
                right: 50%;
            }

            .sec02Fukida0104 {
                grid-column: 1/4;
                grid-row: 3/4;
                width: 50px;
                animation-delay: 0.2s;

                img {
                    max-width: 100%;
                }
            }

            .sec02Fukida0105 {
                grid-column: 2/3;
                grid-row: 2/4;
                width: 70px;
                animation-delay: 0.7s;

                img {
                    max-width: 100%;
                }
            }

            .sec02Fukida0106 {
                grid-column: 3/4;
                grid-row: 1/4;
                width: 200px;
                animation-delay: 1.2s;

                img {
                    width: 100%;
                }
            }
        }
    }

    .sec02sankaku {
        display: flex;
        justify-content: center;


        img {
            width: 100px;
            z-index: 1;
        }
    }

    .sec02Noname {

        position: relative;
        z-index: 100;

        @media (max-width:1000px) {
            height: 100px;
        }

        @media (max-width:800px) {
            height: 150px;
        }

        @media (max-width:500px) {
            height: 100px;
        }
    }

}